{
    "tumblr_key": "",
    "tumblr_secret": "",
    "tumblr_oauth_token": "",
    "tumbrl_oauth_secret": "",
    "secret_key": "",
    "db_name": "spin",
    "db_user": "spin",
    "db_password": "",
    "db_host": "localhost",
    "db_port": "5432",
    "email_from": "",
    "allowed_hosts": [""],
    "blog": "",
    "e_host": "",
    "e_host_user": "",
    "e_host_password": "",
    "e_tls": true,
    "e_port": 587,
    "e_recipients": [""]
}
